<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">

    <body>
        <%- include('../partials/nav.ejs') %>

            <main>
                <section id="productos-grid">
                    <h2>Productos</h2>
                    <div class="grid-container">
                        <% products.forEach(p=> { %>
                            <a href="/products/<%= p.id %>" class="product-link">
                                <article class="product-card">
                                    <div class="img-container">
                                        <img src="<%= p.image ? (p.image.startsWith('http://') || p.image.startsWith('https://') ? p.image : '/images/products/' + p.image) : '/images/no-image.png' %>" alt="<%= p.name %>">
                                    </div>
                                    <div class="descripcion">
                                        <h4>
                                            <%= p.name %>
                                        </h4>
                                        <h5>
                                            <%= p.price %>
                                        </h5>
                                    </div>
                                </article>
                            </a>
                            <% }); %>
                    </div>
                </section>
                <section>
                    <% if (locals.user && locals.user.role==='admin' ) { %>
                        <div class="crear-producto">
                            <a href="/products/create">Crear Nuevo Producto</a>
                        </div>
                        <% } %>
                </section>
                </section>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>