<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

  <body>
    <!-- Nav -->
    <%- include('../partials/nav.ejs') %>
      <!-- MAIN -->
      <main>
        <section>
          <h2>
            <%= product.name %>
          </h2>
          <div class="img-container">
            <% console.log("Ruta de la imagen:", product.image); %><img src="<%= product.image %>" alt="<%= product.name %>">
          </div>
          <div>
            <h3>
              <%= product.price %>
            </h3>
            <button type="submit" href="./cart.html">Agregar al carrito</button>
          </div>
        </section>
        <section>
          <h3>Detalle del producto</h3>
          <p>Estado: <%= product.status %>
          </p>
          <p>Descripcion: <%= product.description %>
          </p>
        </section>
        <section>
          <h3>Metodos de pago</h3>
          <h4>tarjeta</h4>
          <h4>efectivo</h4>
        </section>
        <section>
          <% if (locals.user && locals.user.role === 'admin') { %>
            <div class="enviar">
                <a href="/products/<%= product.id %>/edit">Editar</a>
            </div>
            <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                <button type="submit"
                    onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')" class="enviar">Eliminar</button>
            </form>
            <% } %>
        </section>
      </main>
      <!-- FOOTER -->
      <%- include('../partials/footer.ejs') %>
  </body>

</html>