<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <main>
                <section id="formulario">
                    <form action="/products/<%= product.id %>?_method=PUT" method="post">
                        <h3>Editar detalles de producto</h3>
                        <div>
                            <label for="nam">Nombre del producto</label>
                            <input type="text" name="name" id="nam" value="<%= product.name %>">
                        </div>
                        <div>
                            <label for="desc">Descripcion</label>
                            <input type="text" name="description" id="desc" value="<%= product.description %>">
                        </div>
                        <div>
                            <label for="img">Imagen</label>
                            <input type="file" name="image" id="img" value="<%= product.image %>">
                        </div>
                        <div>
                            <label for="cate">Categoria</label>
                            <select name="category" id="cate">
                                <option value="periferico" <%= product.category === 'periferico' ? 'selected' : '' %>>Periferico</option>
                            </select>
                        </div>
                        <div>
                            <label for="est">Estado</label>
                            <select name="status" id="est">
                                <option value="nuevo" <%= product.status === 'nuevo' ? 'selected' : '' %>>Nuevo</option>
                                <option value="usado" <%= product.status === 'usado' ? 'selected' : '' %>>Usado</option>
                            </select>
                        </div>
                        <div>
                            <label for="precio">Precio</label>
                            <input type="number" name="price" id="precio" value="<%= product.price %>">
                        </div>
                        <div>
                            <input type="submit" value="Editar!">
                        </div>
                    </form>
                </section>
            </main>
    </body>

</html>