<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section id="formulario">
            <form action="/products/" method="post" enctype="multipart/form-data" id="createProductForm">
                <h3>Crear detalles de producto</h3>
                <div>
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name" id="name">
                    <small class="error-message" id="nameError"></small>
                </div>
                <div>
                    <label for="description">Descripcion</label>
                    <textarea name="description" id="description"></textarea>
                    <small class="error-message" id="descriptionError"></small>
                </div>
                <div>
                    <label for="image">Imagen</label>
                    <input type="file" name="image" id="image" accept="image/*">
                    <small class="error-message" id="imageError"></small>
                    <div id="imagePreviewContainer"></div>
                </div>
                <div>
                    <label>Categorías</label><br>
                    <div class="category-selection">
                        <% categories.forEach(category=> { %>
                            <div class="category-item">
                                <input type="checkbox" name="categoryIds" id="category-<%= category.id %>"
                                    value="<%= category.id %>" class="category-checkbox">
                                <label for="category-<%= category.id %>">
                                    <%= category.name %>
                                </label>
                            </div>
                        <% }); %>
                    </div>
                    <small class="error-message" id="categoryError"></small>
                </div>
                <div>
                    <label for="status">Estado</label>
                    <select name="status" id="status">
                        <option value="nuevo">Nuevo</option>
                        <option value="usado">Usado</option>
                    </select>
                    <small class="error-message" id="statusError"></small>
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" placeholder="999999">
                    <small class="error-message" id="priceError"></small>
                </div>
                <div>
                    <input type="submit" value="Crear!">
                </div>
            </form>
        </section>
    </main>
    <script src="/js/createProductVal.js"></script>
</body>

</html>